{% extends 'base.html' %}

{% block content %}

    <div class="container" style="padding-top: 65px">
        <div class="row">
            <div class="d-flex align-items-center justify-content-evenly bg-dark text-light">
                <h1>Welcome to The Whiskey Inventory</h1>
            </div>
        </div>
    </div>

    <div class="container p-4">
        <div class="row">
            <img src="{{ url_for('static', filename='whiskey_collection.jpeg') }}" alt="" class="img-fluid">
        </div>
    </div>

{% endblock %}